@model IEnumerable<CRIPCO.Models.Horario.ListaHorarioViewModel>


<h1 class="page-header">CITAS PENDIENTES @*<small class="">header small text goes here...</small>*@  <a class="btn btn-primary pull-right" href="/Cita/CrearCita"><i class="fa fa-clock-o"></i>  Reservar Cita</a></h1>

<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            if (item.Reservado)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-red">
                        <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                        <div class="stats-info">
                            <h4>@item.Fecha.ToShortDateString()</h4>
                            <p>@item.Fecha.ToShortTimeString()</p>
                        </div>
                        <div class="stats-link">
                            <a href="javascript:;" onclick=""> <i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-stats bg-green">
                        <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                        <div class="stats-info">
                            <h4>DISPONIBLE</h4>
                            <p>@item.Fecha.ToShortTimeString()</p>
                        </div>
                        <div class="stats-link">
                            <a href="javascript:;" onclick=""> <i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        }
    }

</div>
