@model IEnumerable<CRIPCO.Models.Horario.ListaHorarioViewModel>

<h1 class="page-header">@DateTime.Now.ToLongDateString().ToUpper()  @*<small class="">header small text goes here...</small>*@  <button class="btn btn-primary pull-right" onclick="MostrarCrearHorario()"><i class="fa fa-clock-o"></i>  Agregar Horario</button></h1>

    <div class="row">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                if (item.Reservado)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-red">
                            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="stats-info">
                                <h4>RESERVADO</h4>
                                <p>@item.Fecha.ToShortTimeString()</p>
                            </div>
                            <div class="stats-link">
                                <a href="javascript:;" onclick="VerDetalles(@item.Id)">Agregar Expediente <i class="fa fa-arrow-circle-o-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget-stats bg-green">
                            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="stats-info">
                                <h4>DISPONIBLE</h4>
                                <p>@item.Fecha.ToShortTimeString()</p>
                            </div>
                            <div class="stats-link">
                                <a href="javascript:;" onclick=""> <i class="fa fa-arrow-circle-o-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            }
        }

    </div>



<script>

   function VerDetalles(id)
   {
       MostrarCrearExpediente(id);
               //$("#MyModalTitle").html("Detalles de Cita");
               //$("#MyModalBody").html("Informacion pendiente");
               //$("#MyModal").modal("show");

       // LoadWaitNotification();
        //$.ajax({
        //    url: "/Home/VerDetallesHorario",
        //    type: 'get',
        //    data: { Id: id },
        //    success: function (data) {
        //        $("#MyModalTitle").html("Editar Area");
        //        $("#MyModalBody").html(data);
        //        $("#MyModal").modal("show");
        //    },
        //    error: function (xhr, textStatus, errorThrown) {
        //        alert(textStatus);
        //        UnloadWaitNotification();
        //    },
        //    complete: function () { UnloadWaitNotification(); }
        //});
    }


    function MostrarCrearExpediente(IdHorario)
    {
        LoadWaitNotification();
        $.ajax({
            url: "/Expedientes/MostrarCrearExpediente",
            type: 'get',
            data: { Id: IdHorario },
            success: function (data) {
                $("#MyModalTitle").html("Crear Expediente");
                $("#MyModalBody").html(data);
                $("#MyModal").modal("show");
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(textStatus);
                UnloadWaitNotification();
            },
            complete: function () { UnloadWaitNotification(); }
        });

    }


    function MostrarCrearHorario() {
        LoadWaitNotification();
        $.ajax({
            url: "/Horario/MostrarCrearHorario",
            type: 'get',
            success: function (data) {
                $("#MyModalTitle").html("Crear Horario");
                $("#MyModalBody").html(data);
                $("#MyModal").modal("show");
            },
            error: function (xhr, textStatus, errorThrown) {
                alert(textStatus);
                UnloadWaitNotification();
            },
            complete: function () { UnloadWaitNotification(); }
        });
    }


    </script>
