@{
    ViewBag.Title = "Confirmación Contraseña Olvidada";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Revisa tu email para resetear tu contraseña.
    </p>
</div>
	
