
@{
    ViewBag.Title = "CrearCita";
}
<div id="MyModalConfirmacion" class="modal fade" role="dialog" data-backdrop='static' data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="MyModalBodyConfirmacion">
                <h4 class="text-center">Esta seguro de Reservar la cita?</h4>
            </div>
            <div class="text-center">
                <button class="btn btn-success" onclick="ConfirmarCita()">Si</button>
                <button class="btn btn-default" onclick="CancelarCita()">No</button>
                <br />
                <br />
            </div>

        </div>

    </div>
</div>
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                 
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>*@
                   
                </div>
                <h4 class="panel-title">Reservar Cita</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-5">
                    <div class="well">
                            <fieldset>
                                @*<legend class="pull-left width-full">Busqueda</legend>*@
                                <div class="row">
                                    @if (User.IsInRole("Asistente"))
                                    {
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="text-primary">Seleccionar Paciente</label>
                                                @Html.DropDownList("ListaUsuarios", null, htmlAttributes: new { @class = "form-control" })

                                            </div>
                                        </div>
                                    }
                                    <div class="col-md-12">                                   
                                         <div class="form-group">
                                            <label class="text-primary">Seleccionar Especialidad</label>
                                             @Html.DropDownList("ListaEspecialidades", null, htmlAttributes: new { @class = "form-control" })

                                         </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="text-primary">Seleccione Fecha</label>
                                            <div id="FechaInicio"></div>   
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                           <button class="btn btn-primary pull-right" onclick="MostrarHorariosDisponibles()"> Buscar
                                           </button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>         
                    </div>

                </div>
                <div class="col-md-7" id="ContenedorHorarios">


                </div>
               
                   
                </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>


@section Scripts{
    
    <script>

        $("select").select2();
        $.datepicker.setDefaults($.datepicker.regional['en']);
        var FechaInicioSimple = $("#FechaInicio").datepicker({
            inline: true,
            sideBySide: true,
            minDate: moment()
        });

        $("#FechaInicio").on("dp.change", function (a) {
            MostrarHorariosDisponibles();
        });

        var FechaSeleccionada = "";
        function MostrarHorariosDisponibles() {
            if ($('#FechaInicio').datepicker('getDate') == null) { ShowNotification(false, "Seleccione una Fecha", "La fecha es requerida"); return; }
            FechaSeleccionada = $('#FechaInicio').datepicker('getDate').toLocaleDateString();

            LoadWaitNotification();
            $.ajax({
                url: "/Cita/CargaHorariosDisponibles",
                type: 'get',
                data: { Fecha: $('#FechaInicio').datepicker('getDate').toUTCString(), IdEspecialidad: $("#ListaEspecialidades").val() },
                success: function (data) {
                    $("#ContenedorHorarios").html(data);
                   
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("No funca: "+textStatus);
                    UnloadWaitNotification();
                },
                complete: function () { UnloadWaitNotification(); }
            });
        }


        function ReservarCita(idHorario)
        {
            $("#MyModalConfirmacion").modal("show");
           
            idHorarioSeleccionado = idHorario;
        }

        var idHorarioSeleccionado = "";
        function ConfirmarCita()
        {
            $("#MyModalConfirmacion").modal("hide");
            LoadWaitNotification();
            $.ajax({
                url: "/Cita/ReservarCita",
                type: 'POST',
                data: { IdHorario: idHorarioSeleccionado, IdUsuario: $("#ListaUsuarios").val() },
                success: function (data) {
                    ShowNotification(data.Estado, data.Titulo, data.Mensaje);
                    if (data.Estado) {

                        $("#ContenedorHorarios").html("");
                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("No funca: " + textStatus);
                    UnloadWaitNotification();
                },
                complete: function () { UnloadWaitNotification(); }
            });
        }

        function CancelarCita()
        {
            $("#MyModalConfirmacion").modal("hide");
        }

    </script>
    
    }